<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fool.demo.mapper.MenuRoleRelationMapper">

    <resultMap id="BaseResultMap" type="com.fool.demo.domain.MenuRoleRelation">
            <id property="id" column="ID" jdbcType="INTEGER"/>
            <result property="menuId" column="MENU_ID" jdbcType="INTEGER"/>
            <result property="roleId" column="ROLE_ID" jdbcType="INTEGER"/>
            <result property="creator" column="CREATOR" jdbcType="INTEGER"/>
            <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,MENU_ID,ROLE_ID,
        CREATOR,CREATE_TIME
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from menu_role_relation
        where  ID = #{id,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from menu_role_relation
        where  ID = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.fool.demo.domain.MenuRoleRelation" useGeneratedKeys="true">
        insert into menu_role_relation
        ( ID,MENU_ID,ROLE_ID
        ,CREATOR,CREATE_TIME)
        values (#{id,jdbcType=INTEGER},#{menuId,jdbcType=INTEGER},#{roleId,jdbcType=INTEGER}
        ,#{creator,jdbcType=INTEGER},#{createTime,jdbcType=TIMESTAMP}))
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.fool.demo.domain.MenuRoleRelation" useGeneratedKeys="true">
        insert into menu_role_relation
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="menuId != null">menuId,</if>
                <if test="roleId != null">roleId,</if>
                <if test="creator != null">creator,</if>
                <if test="createTime != null">createTime,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">ID = #{id,jdbcType=INTEGER},</if>
                <if test="menuId != null">MENU_ID = #{menuId,jdbcType=INTEGER},</if>
                <if test="roleId != null">ROLE_ID = #{roleId,jdbcType=INTEGER},</if>
                <if test="creator != null">CREATOR = #{creator,jdbcType=INTEGER},</if>
                <if test="createTime != null">CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.fool.demo.domain.MenuRoleRelation">
        update menu_role_relation
        <set>
                <if test="menuId != null">
                    MENU_ID = #{menuId,jdbcType=INTEGER},
                </if>
                <if test="roleId != null">
                    ROLE_ID = #{roleId,jdbcType=INTEGER},
                </if>
                <if test="creator != null">
                    CREATOR = #{creator,jdbcType=INTEGER},
                </if>
                <if test="createTime != null">
                    CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
                </if>
        </set>
        where   ID = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.fool.demo.domain.MenuRoleRelation">
        update menu_role_relation
        set 
            MENU_ID =  #{menuId,jdbcType=INTEGER},
            ROLE_ID =  #{roleId,jdbcType=INTEGER},
            CREATOR =  #{creator,jdbcType=INTEGER},
            CREATE_TIME =  #{createTime,jdbcType=TIMESTAMP}
        where   ID = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
