<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fool.demo.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.fool.demo.domain.Order">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="value" column="value" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,value,create_time
    </sql>
    <insert id="insertSelective">
        insert into orders(value) value (#{value,jdbcType=BIGINT})
    </insert>
    <select id="selectByValue" resultType="com.fool.demo.domain.Order">
        select *
        from orders
        where value = #{value,jdbcType=BIGINT}
    </select>
    <select id="selectAll" resultType="com.fool.demo.domain.Order">
        select *
        from orders
    </select>
    <select id="selectBetween" resultType="com.fool.demo.domain.Order">
        select *
        from orders
        where value between #{start,jdbcType=BIGINT   } and #{end,jdbcType=BIGINT}
    </select>
    <select id="selectGreater" resultType="com.fool.demo.domain.Order">
        select *
        from orders
        where value &gt; #{value,jdbcType=BIGINT}
    </select>
</mapper>
